<form action="/restaurants" method="post" enctype="multipart/form-data">

 <div class="form-group">
   <label for="name">Restaurant name</label>
   <input type="text" class="form-control" id="name" placeholder="Restaurant Name" name="name">
 </div>

 <div class="form-group">
   <label for="description">Description</label>
   <input type="text" class="form-control" id="description" placeholder="Description" name="description">
 </div>

 <div class="form-group">
   <label for="latitude">Latitude</label>
   <input type="text" class="form-control" id="latitude" placeholder="Latitude" name="latitude">
 </div>

 <div class="form-group">
   <label for="longitude">Longitude</label>
   <input type="text" class="form-control" id="longitude" placeholder="Longitude" name="longitude">
 </div>

 <div class="form-group">
   <label for="picture">Pics</label>
   <input type="file" class="form-control" id="file" name="pic">
 </div>

 <button type="submit" class="btn btn-primary">Submit</button>
